<% include header %>
<body style="background-image: url(../images/backg.jpg);background-repeat: no-repeat;background-attachment: fixed;background-position: center;background-size: cover;">
	<div style="margin-left: 33vw;margin-top:27.5vh;padding-left:2vw;padding-top:1vh;width: 35vw;height:45vh;border-radius: 25px;border:0px solid blue;display:block;position:absolute;line-height:25px; background:rgba(255,255,255,0.6);">
		<BR>
		<div style="height:44vh;margin-top:0.5vh; ">
		<font face="微軟正黑體"><font size="6px"><b>忘記密碼</b></font></font>	
		<form role="form" name="register" id="register"  method="post" autocomplete="off" onsubmit="return retform();">
			
				<div class ="form-group" id="retmail">
					<label for="email">帳號（請使用學校信箱）：</label><label id="acc1" for="retemail" class="control-label"></label>
					<input style="width:30vw" id="retemail" class="form-control body" name="retemail" size="25" type="email" maxlength="40" placeholder="Example：A1234567@g.pccu.edu.tw or @ulive.pccu.edu.tw" onkeyup="retEmail(this.value)">		<!--400px-->
				</div>
				<div class ="form-group" id="PhoneNumber" style="margin-right: 35px;">
					<label for="Number">手機號碼：</label><label for="Number" class="control-label" id="tel"></label>
					<input style="width:30vw" id="Number" name="Number" class="form-control body" type="tel" maxlength="10" placeholder="請輸入開頭為09的手機號碼" onkeyup="Checkphone(this.value)">
				</div>  
				<button type="submit" class="btn btn-warning body" name="submit" id="submit" value="resetcode">確認送出</button>	
				<font face="微軟正黑體" style="color:red;">信件有可能會到垃圾郵件哦，要記得查看!</font>
			
		</form>
		</div>
	</div>
<script >
	function retEmail(strEmail) {  //限制電子郵箱格是為文大
		if (strEmail.search(/^[Aa][0-9]{7}@[g]\.[p][c][c][u]\.[e][d][u]\.[t][w]$/) != -1){
		document.getElementById("retmail").className="form-group has-success"; 
		document.getElementById("acc1").innerHTML=""; //innerHTML為更改文字內容
		}
		else if (strEmail.search(/^[Aa][0-9]{7}@[u][l][i][v][e]\.[p][c][c][u]\.[e][d][u]\.[t][w]$/) != -1){
		document.getElementById("retmail").className="form-group has-success"; 
		document.getElementById("acc1").innerHTML="";
		}
		else{
		document.getElementById("retmail").className="form-group has-error"; 
		document.getElementById("acc1").innerHTML="請輸入正確文大電郵格式";
		}
	}
	function Checkphone(PNumber){ //限制電話號碼格式
		if(PNumber.search(/^[0][9][0-9]{8}$/) !=-1){
			document.getElementById("PhoneNumber").className="form-group has-success";
			document.getElementById("tel").innerHTML="";
		}
		else{
			document.getElementById("PhoneNumber").className="form-group has-error";
			document.getElementById("tel").innerHTML="請輸入正確電話號碼十碼(前兩碼為09)";
		}
	}
	function retform(){ //核對所有欄位都為success的狀態
		var chmail = document.getElementById("retmail").className;	
		var chpnb = document.getElementById("PhoneNumber").className;
		if((chmail == "form-group has-success")&&(chpnb == "form-group has-success")){
			return true;
		}
		else {
			alert("請確認輸入資料是否符合格式!!");
			return false;
		}
	}
</script>


<% include footer %>