<% include login-javascript %>
<body style="background-image: url(../images/backg.jpg);background-size:cover;background-repeat:no-repeat;overflow-y: hidden; overflow-x: hidden;">
		<table border="0" align="center"  valign="center">
			<tr  style="height:60vh;">
			
				<td style="font-size:18px;" width="440px" style="height:60vh;">	    	
					<form  role="form" name="login" id="login"  method="post" autocomplete="off" >
						<fieldset>				
							
								<div class ="form-group" id="mail">
									<label for="email">學校信箱：</label><label id="acc" for="email" class="control-label"></label>
									<input id="email" class="form-control" name="email" size="25" type="email" maxlength="40" placeholder="Example：A1234567@g.pccu.edu.tw or @ulive.pccu.edu.tw" onkeyup="isEmail(this.value)">
								</div>
								<div class ="form-group" id="pwformat">
									<label for="pwd">密碼：</label><label for="pwd" id="pw" class="control-label"></label>
									<input id="pwd" name="pwd" type="password" class="form-control" maxlength="20" size="25" placeholder="請輸入8~20的密碼" onkeyup="ispassword(this.value)">
								</div>
								<script>	
			                            for(var i=0;i<6;i++){                         //取六位
			                                var which = Math.floor(Math.random()*10); //驗證碼 亂數
			                                a+=which*chk;
			                                chk/=10;
			                                document.write("<img src ="+picname[which]+" width="+50+ "height="+50+">");
			                            }                    
			                    </script>
			                    <br>			                                          
			                        <div class="form-group" id="ChkNumber">    
			                            <label for="ChkNum">請輸入驗證碼：</label><label for="ChkNum" class="control-label" id="chkl" ></label>
			                                <input type=text class="form-control" name="ChkNum" id="ChkNum" maxlength="6" onkeyup="check()">                         
			                        </div>			                    
								<button type="submit" class="btn btn-primary" id="Sublog" onclick="Checkform()" disabled=true>登入</button>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<font size="4" ><a href="/routes/forget" style="color:red;"><b><u>忘記密碼</u></b></a></font>
							
						</fieldset>
					</form>		
				</td>
			</tr>

		</table>
		<div align="center" style="height:20vh;line-height:20vh;max-width:100%;display:block;text-align:  center;">
				<img src="../images/down.png" width="224px" style="max-height: 100%;max-width: 100%;">
		</div>

<style type="text/css">
table{
  margin: auto;
  margin-top:20vh;
  border-collapse: separate;
  border-spacing: 0;
  background:rgba(255,255,255,0.6);
  border-radius: 10px;
}
}
tr{
  border: 0px solid;
}
td{
  border: 0px solid #33FFFF;
  padding: 5px 5px;
  /*background-color: #E0607E;*/
  /*color: #FFF;*/
}

/*第一欄第一列：左上*/
tr:first-child td:first-child{
  border-top-left-radius: 10px;
}
/*第一欄最後列：左下*/
tr:last-child td:first-child{
  border-bottom-left-radius: 10px;
}
/*最後欄第一列：右上*/
tr:first-child td:last-child{
  border-top-right-radius: 10px;
}
/*最後欄第一列：右下*/
tr:last-child td:last-child{
  border-bottom-right-radius: 10px;
}
</style>
</body>
<% include footer %>